---
---

@import "{{ site.theme }}";

#footer_wrap { display: none; }
#forkme_banner { display: none; }
 
header {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border-bottom: 0px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: none;
}
